.hero-layout {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.hero-left {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.hero-title {
    font-size: 80px;
    font-weight: 800;
}

.hero-subtitle {
    margin-top: 20px;
    font-size: 18px;
}

/* RIGHT SIDE */
.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}

.hero-nav ul {
    list-style: none;
}

.hero-nav li {
    margin: 20px 0;
}

.hero-nav a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}
